<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true"/>
        </system.web>
	<system.serviceModel>
		<behaviors>
   <endpointBehaviors>
    <behavior name="AtomService.Service1AspNetAjaxBehavior">
      <webHttp/>
    </behavior>
   </endpointBehaviors>
  </behaviors>
  <services>
   <service name="AtomService.Service1">
    <endpoint address="" behaviorConfiguration="AtomService.Service1AspNetAjaxBehavior"
     binding="webHttpBinding" contract="AtomService.Service1" />
   </service>
  </services>
  <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
	</system.serviceModel>
</configuration>